@font-face {
    font-family: 'Soft Press Pro';
    src: url('SoftPressPro.eot');
    src: local('Soft Press Pro'), local('SoftPressPro'),
        url('SoftPressPro.eot?#iefix') format('embedded-opentype'),
        url('SoftPressPro.woff2') format('woff2'),
        url('SoftPressPro.woff') format('woff'),
        url('SoftPressPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

